@model ToDo.Domain.ToDo

@{
    ViewBag.Title = "Create";
}

<style>
    checkbox input[type="checkbox"] {
        transform: scale(2);
        margin-right: 15px;
    }

    .btn-default {
        background-color: #007bff; 
        color: #fff; 
        padding: 10px 20px; 
        font-size: 16px; 
        border: none; 
        border-radius: 4px; 
        cursor: pointer; 
    }

        
        .btn-default:hover {
            background-color: #377081;
        }

</style>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ToDo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Add the category field -->
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <!-- Add the Done field if needed -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>